@model IEnumerable<CustomPaginationInASPNETMVC.Models.Employee>
@{
    ViewBag.Title = "Index";
}


<style>
    .MakeDisabled {
        pointer-events: none;
        cursor: not-allowed;
        /*opacity: .65;*/
    }

    .pagination {
        margin: 0; 
    }
</style>
<br/>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span style="font-size: 30px;">Employee List <span class="pull-right">@Html.ActionLink("Create New", "Create",null, new {@class = "btn btn-success"})</span></span>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Office)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Salary)
                    </th>
                    <th>Actions</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Office)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                        </td>
                    </tr>
                }
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding-left: 0; padding-right: 0">
                        <button class="btn btn-default MakeDisabled">
                            Showing item @ViewBag.PageItemStarts to @ViewBag.PageItemTo of @ViewBag.TotalItems items
                        </button>
                    </div>

                    <div class="col-md-6" style="padding-left: 0; padding-right: 0">
                        <div class="pull-right">
                            <ul class="pagination">
                                @{
                                    string prevDisabled = "";
                                    if (ViewBag.CurrentPage == 1 || ViewBag.TotalItems == 0)
                                    {
                                        prevDisabled = "MakeDisabled";
                                    }
                                }
                                <li>
                                    <a class="@prevDisabled" href="@Url.Action("Index", "Employee", new {page = @ViewBag.CurrentPage - 1})">Previous</a>
                                </li>
                                @{

                                    if (ViewBag.TotalPages > ViewBag.PageButtonToShow)
                                    {
                                        if (ViewBag.CurrentPage > (ViewBag.PageButtonToShow - 2))
                                        {
                                            <li><a href="@Url.Action("Index", "Employee", new {page = 1})">1</a></li>
                                            <li><a>....</a></li>

                                            if (ViewBag.CurrentPage + 2 >= ViewBag.TotalPages)
                                            {

                                                for (int i = ViewBag.TotalPages - 3; i < ViewBag.TotalPages; i++)
                                                {
                                                    string currentPageCss = "";

                                                    if (i == ViewBag.CurrentPage)
                                                    {
                                                        currentPageCss = "active MakeDisabled";
                                                    }
                                                    <li class="@currentPageCss">
                                                        <a href="@Url.Action("Index", "Employee", new {page = i})">@i</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                for (int i = ViewBag.CurrentPage - 1; i <= ViewBag.CurrentPage + 1; i++)
                                                {

                                                    string currentPageCss = "";

                                                    if (i == ViewBag.CurrentPage)
                                                    {
                                                        currentPageCss = "active MakeDisabled";
                                                    }
                                                    <li class="@currentPageCss">
                                                        <a href="@Url.Action("Index", "Employee", new {page = i})">@i</a>
                                                    </li>
                                                }
                                            }
                                        }

                                        else
                                        {
                                            for (int i = 1; i <= ViewBag.PageButtonToShow - 1; i++)
                                            {

                                                string currentPageCss = "";

                                                if (i == ViewBag.CurrentPage)
                                                {
                                                    currentPageCss = "active MakeDisabled";
                                                }
                                                <li class="@currentPageCss">
                                                    <a href="@Url.Action("Index", "Employee", new {page = i})">@i</a>
                                                </li>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        for (int i = 1; i <= ViewBag.TotalPages; i++)
                                        {

                                            string currentPageCss = "";

                                            if (i == ViewBag.CurrentPage)
                                            {
                                                currentPageCss = "active MakeDisabled";
                                            }
                                            <li class="@currentPageCss">
                                                <a href="@Url.Action("Index", "Employee", new {page = i})">@i</a>
                                            </li>
                                        }
                                    }

                                }
                                
                                
                                @{

                                    string hideDotCss = "";
                                    if (ViewBag.TotalPages <= ViewBag.PageButtonToShow)
                                    {
                                        hideDotCss = "hidden";
                                    }
                                    else
                                    {
                                        if (ViewBag.CurrentPage + 2 >= ViewBag.TotalPages)
                                        {
                                            hideDotCss = "hidden";
                                        }
                                    }
                                    
                                    <li class="@hideDotCss"><a>....</a></li>


                                    if (ViewBag.TotalPages > ViewBag.PageButtonToShow)
                                    {

                                        string currentPageCss = "";

                                        if (ViewBag.CurrentPage == ViewBag.TotalPages)
                                        {
                                            currentPageCss = "active MakeDisabled";
                                        }
                                        <li class="@currentPageCss">
                                            <a href="@Url.Action("Index", "Employee", new {page = ViewBag.TotalPages})">@ViewBag.TotalPages</a>
                                        </li>
                                    }

                                    string nextDisabled = "";
                                    if (ViewBag.CurrentPage == ViewBag.TotalPages || ViewBag.TotalItems == 0)
                                    {
                                        nextDisabled = "MakeDisabled";
                                    }
                                }

                               

                                <li>
                                    <a class="@nextDisabled" , href="@Url.Action("Index", "Employee", new {page = @ViewBag.CurrentPage + 1})">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





